@charset "UTF-8";
/* YakuHanJP */
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 100;
  src: url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Thin.eot");
  src: local("☺︎"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Thin.woff") format("woff"); }
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 200;
  src: url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Light.eot");
  src: local("☺︎"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Light.woff") format("woff"); }
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-DemiLight.eot");
  src: local("☺︎"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-DemiLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-DemiLight.woff") format("woff"); }
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Regular.eot");
  src: local("☺︎"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Regular.woff") format("woff"); }
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Medium.eot");
  src: local("☺︎"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Medium.woff") format("woff"); }
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Bold.eot");
  src: local("☺︎"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Bold.woff") format("woff"); }
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Black.eot");
  src: local("☺︎"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/yakuhanjp/1.3.1/fonts/YakuHanJP/YakuHanJP-Black.woff") format("woff"); }
/* MyYugothic */
@font-face {
  font-family: 'MyYuGothic';
  font-weight: normal;
  src: local("游ゴシック Medium"), local("YuGothic-Medium"), local("Yu Gothic Medium"), local("游ゴシック体"), local("YuGothic"), local("YuGothic-Regular");
  /* Mediumがない場合 */ }
@font-face {
  font-family: 'MyYuGothic';
  font-weight: bold;
  src: local("游ゴシック Bold"), local("YuGothic-Bold"), local("Yu Gothic"), local("游ゴシック体"), local("YuGothic");
  /* for Mac */ }
/* MyHiragino */
@font-face {
  font-family: 'MyHiragino';
  font-weight: normal;
  src: local("Hiragino Sans"), local("ヒラギノ角ゴ ProN W3"), local("Hiragino Kaku Gothic ProN"); }
@font-face {
  font-family: 'MyHiragino';
  font-weight: bold;
  src: local("Hiragino Sans"), local("ヒラギノ角ゴ ProN W6"), local("Hiragino Kaku Gothic ProN W6"); }
@font-face {
  font-family: 'MyHiragino';
  font-weight: 800;
  src: local("Hiragino Sans"), local("ヒラギノ角ゴ StdN"), local("Hiragino Kaku Gothic StdN"); }
/* AppleSystem (San Francisco) */
@font-face {
  font-family: 'AppleSystem';
  src: local("-apple-system"), local("BlinkMacSystemFont"); }
/* MySansSerif */
@font-face {
  font-family: 'MySansSerif';
  font-weight: normal;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Helvetica"), local("Arial"); }
@font-face {
  font-family: 'MySansSerif';
  font-weight: 700;
  src: local("HelveticaNeueBold"), local("HelveticaNeue-Bold"), local("Helvetica Neue Bold"), local("HelveticaBold"), local("Helvetica-Bold"), local("Helvetica Bold"), local("Arial Bold"); }
@font-face {
  font-family: 'MySansSerif';
  font-weight: 900;
  src: local("HelveticaNeueBlack"), local("HelveticaNeue-Black"), local("Helvetica Neue Black"), local("HelveticaBlack"), local("Helvetica-Black"), local("Helvetica Black"), local("Arial Black"); }
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format("opentype"); }
